.clearfix:after, #header .menu-opener:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

body {
  font-family: "Lato", sans-serif; }

@media (max-width: 991px) {
  .menu-active #nav .drop {
    opacity: 1;
    z-index: 9999;
    height: auto; } }

.menu-active #nav .menu-opener:after, .menu-active #nav .menu-opener:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 16px;
  left: 15%;
  right: 15%; }

.menu-active #nav .menu-opener:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.menu-active #nav .menu-opener span {
  opacity: 0; }

.container {
  max-width: 962px;
  margin: 0 auto;
  padding: 0; }
  @media (max-width: 991px) {
    .container {
      max-width: 100%;
      padding: 0 15px; } }

#main {
  max-width: 962px;
  margin: 0 auto;
  padding: 57px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400; }
  #main #content-holder {
    display: inline-block;
    max-width: 538px; }
    #main #content-holder .article {
      overflow: hidden;
      padding: 28px 0;
      border-bottom: 1px solid #d3d3d3; }
      #main #content-holder .article:first-child {
        padding-top: 0; }
        #main #content-holder .article:first-child .text-holder {
          padding-left: 0; }
        #main #content-holder .article:first-child .image-holder {
          float: none;
          margin-bottom: 11px;
          max-width: 100%;
          height: auto; }
          @media (max-width: 991px) {
            #main #content-holder .article:first-child .image-holder {
              text-align: center; } }
      #main #content-holder .article .image-holder {
        float: left; }
        @media (max-width: 575px) {
          #main #content-holder .article .image-holder {
            float: none;
            text-align: center;
            margin-bottom: 11px; } }
      #main #content-holder .article .text-holder {
        overflow: hidden;
        padding: 0 0 1px 17px; }
        #main #content-holder .article .text-holder h3 {
          font-size: 23px;
          font-weight: 400; }
          #main #content-holder .article .text-holder h3 a {
            -webkit-transition: color 0.3s linear;
            transition: color 0.3s linear;
            color: #000;
            text-decoration: none; }
            #main #content-holder .article .text-holder h3 a:hover {
              color: #9c0059; }
        #main #content-holder .article .text-holder time {
          font-size: 13px;
          color: #808080;
          font-weight: bold; }
        #main #content-holder .article .text-holder p {
          font-size: 16px; }
        @media (max-width: 575px) {
          #main #content-holder .article .text-holder {
            padding-left: 0; } }
      #main #content-holder .article .button-link {
        -webkit-transition: background-color 0.3s linear, border-color 0.3s linear, color 0.3s linear;
        transition: background-color 0.3s linear, border-color 0.3s linear, color 0.3s linear;
        border: 1px solid #9c0059;
        font-size: 12px;
        font-weight: bold;
        color: #9c0059;
        background-color: #fff;
        text-align: center;
        padding: 4px 6px;
        display: inline-block;
        text-decoration: none;
        vertical-align: top; }
        #main #content-holder .article .button-link:hover {
          color: #fff;
          background-color: #9c0059; }
    #main #content-holder .share {
      padding: 20px 0 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #main #content-holder .share p {
        display: inline-block;
        margin: 0;
        padding-right: 6px; }
      #main #content-holder .share ul {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding-left: 0; }
      #main #content-holder .share li {
        float: left;
        padding: 0 6px; }
        #main #content-holder .share li i {
          font-size: 35px; }
        #main #content-holder .share li .fa-twitter-square {
          color: #41abe1; }
        #main #content-holder .share li .fa-facebook-square {
          color: #577bc9; }
        #main #content-holder .share li a {
          -webkit-transition: opacity 0.3s linear;
          transition: opacity 0.3s linear; }
          #main #content-holder .share li a:hover {
            opacity: 0.6; }
    #main #content-holder .pagination {
      font-size: 11px;
      font-weight: bold;
      text-align: center;
      display: block; }
      #main #content-holder .pagination ul {
        display: inline-block;
        list-style: none;
        margin: 22px 0 43px;
        padding-left: 0; }
      #main #content-holder .pagination li {
        float: left; }
      #main #content-holder .pagination a {
        -webkit-transition: background-color 0.3s linear, color 0.3s linear;
        transition: background-color 0.3s linear, color 0.3s linear;
        color: #fff;
        padding: 3px 5px;
        text-decoration: none;
        border: 1px solid #9c0059;
        margin: 0 1px;
        font-size: 11px;
        background-color: #9c0059; }
        #main #content-holder .pagination a:hover, #main #content-holder .pagination a.active {
          background-color: #fff;
          color: #9c0059; }
    @media (max-width: 991px) {
      #main #content-holder {
        margin: 0 auto;
        max-width: 100%; } }
  @media (max-width: 991px) {
    #main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-right: 15px;
      padding-left: 15px; } }

#header {
  background-color: #9c0059;
  border-bottom: 52px solid #2c5770; }
  #header .logo {
    margin: 0 0 -25px -4px;
    float: left; }
    @media (max-width: 991px) {
      #header .logo {
        margin-left: 0; } }
  #header #nav {
    font-size: 20px; }
    @media (max-width: 991px) {
      #header #nav {
        font-size: 16px; } }
    @media (max-width: 767px) {
      #header #nav {
        font-size: 15px; } }
  #header .drop {
    float: right;
    margin-bottom: 0;
    list-style: none;
    padding: 28px 0 0;
    vertical-align: top; }
    #header .drop li {
      float: left;
      padding: 0 12px; }
      #header .drop li:first-child {
        padding-left: 0; }
      #header .drop li:last-child {
        padding-right: 0; }
      @media (max-width: 991px) {
        #header .drop li {
          float: none;
          padding: 0; } }
    #header .drop a {
      -webkit-transition: color 0.3s linear;
      transition: color 0.3s linear;
      color: #fff;
      text-decoration: none; }
      #header .drop a:hover {
        color: #f9ad33; }
        @media (max-width: 991px) {
          #header .drop a:hover {
            color: #f9ad33;
            background-color: #9c0059;
            border-color: #9c0059; } }
      @media (max-width: 991px) {
        #header .drop a {
          display: block;
          padding: 10px 10px 10px 25px;
          margin: -1px 0 0;
          border: 1px solid #f59a07; } }
    @media (max-width: 991px) {
      #header .drop {
        width: 40%;
        position: absolute;
        top: 69px;
        right: 0;
        opacity: 0;
        z-index: -2;
        -webkit-transition: opacity .3s linear, z-index .3s linear;
        transition: opacity .3s linear, z-index .3s linear;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
        text-align: left;
        padding: 0;
        border-top: 1px solid #f59a07;
        background-image: url("../images/header_bgn.png");
        background-size: cover; } }
    @media (max-width: 767px) {
      #header .drop {
        width: 100%;
        top: 96px; } }
  #header .menu-opener {
    display: none;
    float: right;
    width: 50px;
    height: 50px;
    position: relative;
    top: 19px;
    right: -10px;
    border-radius: 3px;
    text-indent: -9999px;
    overflow: hidden;
    outline: none; }
    #header .menu-opener:before, #header .menu-opener:after,
    #header .menu-opener span {
      background: #f9ad33;
      border-radius: 4px;
      position: absolute;
      top: 16px;
      left: 20%;
      right: 20%;
      height: 3px;
      margin-top: -2px;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    #header .menu-opener:before, #header .menu-opener:after {
      content: '';
      top: 6px; }
    #header .menu-opener:after {
      top: 26px; }
    @media (max-width: 991px) {
      #header .menu-opener {
        display: block; } }
  #header .heading-holder {
    color: #fff;
    text-align: right;
    background-image: url("../images/header_bgn.png");
    background-size: cover;
    padding: 25px 0 31px; }
    #header .heading-holder h1 {
      font-size: 42px;
      margin: 0; }

#footer {
  background-color: #2c5770; }
  #footer .footer-main {
    background-color: #0e2f3e; }
    #footer .footer-main .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      @media (max-width: 991px) {
        #footer .footer-main .container {
          padding-left: 15px;
          padding-right: 15px;
          max-width: 100%; } }
      @media (max-width: 767px) {
        #footer .footer-main .container {
          display: block;
          padding-bottom: 20px; } }
    #footer .footer-main .footer-nav {
      font-size: 16px;
      font-weight: 300;
      float: left; }
      #footer .footer-main .footer-nav ul {
        padding: 20px 0 48px;
        margin: 0;
        list-style: none;
        -webkit-column-count: 2;
                column-count: 2; }
        @media (max-width: 575px) {
          #footer .footer-main .footer-nav ul {
            -webkit-column-count: 1;
                    column-count: 1; } }
      #footer .footer-main .footer-nav a {
        -webkit-transition: color 0.3s linear;
        transition: color 0.3s linear;
        color: #fff;
        text-decoration: none; }
        #footer .footer-main .footer-nav a:hover {
          color: #00bfff; }
      @media (max-width: 767px) {
        #footer .footer-main .footer-nav {
          float: none;
          font-size: 24px; } }
      @media (max-width: 479px) {
        #footer .footer-main .footer-nav {
          font-size: 19.2px; } }
    #footer .footer-main .socials {
      font-size: 30px;
      color: #fff;
      float: right; }
      #footer .footer-main .socials ul {
        padding: 19px 0 0 0;
        list-style: none;
        margin-bottom: 0;
        float: right; }
        @media (max-width: 767px) {
          #footer .footer-main .socials ul {
            float: none;
            text-align: center;
            display: inline-block; } }
      #footer .footer-main .socials li {
        padding: 0 8px;
        float: left; }
        #footer .footer-main .socials li:last-child {
          padding-right: 0; }
        #footer .footer-main .socials li:first-child {
          padding-left: 0; }
        @media (max-width: 767px) {
          #footer .footer-main .socials li {
            padding: 0 30px; } }
        @media (max-width: 575px) {
          #footer .footer-main .socials li {
            padding: 0 20px; } }
        @media (max-width: 479px) {
          #footer .footer-main .socials li {
            padding: 0 10px; } }
      #footer .footer-main .socials a {
        -webkit-transition: color 0.3s linear;
        transition: color 0.3s linear;
        color: #fff; }
        #footer .footer-main .socials a:hover {
          color: #00bfff; }
      #footer .footer-main .socials p {
        font-size: 10px;
        margin-bottom: 26px; }
      #footer .footer-main .socials .image-holder {
        text-align: right; }
        @media (max-width: 767px) {
          #footer .footer-main .socials .image-holder {
            text-align: center; } }
      @media (max-width: 767px) {
        #footer .footer-main .socials {
          float: none;
          text-align: center; } }
  #footer .footer-secondary .logo-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 38px 0 54px;
    margin: 0; }
    @media (max-width: 991px) {
      #footer .footer-secondary .logo-list {
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        padding-bottom: 34px; }
        #footer .footer-secondary .logo-list li {
          display: inline-block;
          padding-bottom: 20px;
          padding-left: 30px;
          padding-right: 30px; } }
  @media (max-width: 991px) {
    #footer .footer-secondary {
      text-align: center; } }

#aside {
  padding-left: 75px;
  font-size: 16px; }
  #aside h4 {
    font-size: 16px;
    font-weight: bold; }
    @media (max-width: 991px) {
      #aside h4 {
        font-size: 24px; } }
    @media (max-width: 575px) {
      #aside h4 {
        font-size: 20.8px; } }
  @media (max-width: 991px) {
    #aside {
      padding-left: 0;
      text-align: left; } }
  #aside .socials {
    padding-bottom: 35px; }
    #aside .socials a {
      -webkit-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear; }
      #aside .socials a:hover {
        opacity: 0.5; }
    #aside .socials p {
      margin-bottom: 6px; }
      @media (max-width: 991px) {
        #aside .socials p {
          font-size: 20.8px;
          text-align: left; } }
      @media (max-width: 575px) {
        #aside .socials p {
          font-size: 16px; } }
    #aside .socials ul {
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: inline-block;
      list-style: none; }
      @media (max-width: 991px) {
        #aside .socials ul {
          text-align: left; } }
    #aside .socials li {
      font-size: 45px;
      float: left;
      padding: 0 8px; }
      #aside .socials li:first-child {
        padding-left: 0; }
      #aside .socials li:last-child {
        padding-right: 0; }
      #aside .socials li .fa-twitter-square {
        color: #41abe1; }
      #aside .socials li .fa-google-plus-square {
        color: #dc4e41; }
      #aside .socials li .fa-youtube-square {
        color: #cd201f; }
      @media (max-width: 991px) {
        #aside .socials li {
          padding-left: 50px;
          padding-right: 50px;
          font-size: 70px; } }
      @media (max-width: 767px) {
        #aside .socials li {
          padding-left: 40px;
          padding-right: 40px;
          font-size: 60px; } }
      @media (max-width: 575px) {
        #aside .socials li {
          padding-left: 20px;
          padding-right: 20px;
          font-size: 35px; } }
    @media (max-width: 991px) {
      #aside .socials {
        text-align: left;
        padding-bottom: 0; }
        #aside .socials h4 {
          text-align: left; } }
  #aside .media-links {
    padding-bottom: 50px; }
    #aside .media-links ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      @media (max-width: 991px) {
        #aside .media-links ul {
          font-size: 20.8px; } }
      @media (max-width: 575px) {
        #aside .media-links ul {
          font-size: 16px; } }
    #aside .media-links li {
      padding: 3px 0; }
      #aside .media-links li:first-child {
        padding-top: 0; }
      #aside .media-links li:last-child {
        padding-bottom: 0; }
      #aside .media-links li a {
        -webkit-transition: color 0.3s linear;
        transition: color 0.3s linear;
        color: #000;
        text-decoration: none; }
        #aside .media-links li a:hover {
          color: #9c0059; }
    @media (max-width: 991px) {
      #aside .media-links {
        padding-bottom: 20px; } }
  #aside .archives select {
    width: 100%;
    border-color: #d3d3d3;
    font-size: 16px; }
    @media (max-width: 991px) {
      #aside .archives select {
        max-width: 300px; } }
    @media (max-width: 767px) {
      #aside .archives select {
        max-width: 200px; } }
    @media (max-width: 575px) {
      #aside .archives select {
        max-width: 180px; } }
  @media (max-width: 991px) {
    #aside .archives {
      margin-bottom: 50px; } }
/*# sourceMappingURL=main.css.map */