$base-font-family: 'Lato', sans-serif;
$base-font-size: 16px;

$purple: #9c0059;
$blue: #00bfff;
$white: #fff;
$light-gray: #d3d3d3;
$gray: #808080;
$black: #000;
$yellow: #f9ad33;

$base-heading-color: $black;
$base-border-color: $light-gray;
$base-link-color: $white;
$link-color-hover: $purple;
$link-header-color-hover: $yellow;
$link-footer-color-hover: $blue;
$link-background-color-hover: $white;

$button-border-color: $purple;
$button-text-color: $purple;
$button-background-color: $white;
$button-text-color-hover: $white;
$button-background-color-hover: $purple;